:root {
  font-family: "Pretendard", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #1a1a1a;

  /* variable */
  --point-color: #ff7400;
  --color-red: #fa2828;
  --max-width: var(--max-width);
}

/* COMMON */
input[type="checkbox"],
input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625rem;
}
input[type="checkbox"]:hover + label:before,
input[type="radio"]:hover + label:before {
  border-color: #999;
}
input[type="checkbox"]:active + label:before,
input[type="radio"]:active + label:before {
  transition-duration: 0;
  filter: brightness(0.2);
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;
  padding-left: 1.375rem;
  font-weight: normal;
}
input[type="checkbox"] + label:before,
input[type="checkbox"] + label:after,
input[type="radio"] + label:before,
input[type="radio"] + label:after {
  box-sizing: content-box;
  position: absolute;
  content: "";
  display: block;
  left: 0;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  top: 50%;
  width: 0.75rem;
  height: 0.75rem;
  margin-top: -0.5rem;
  border: 1px solid #dbdbdb;
  text-align: center;
  background: #fff;
}
input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
  background-color: var(--point-color);
  top: 50%;
  left: 0.375rem;
  width: 0.5rem;
  height: 0.5rem;
  margin-top: -0.25rem;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 100ms ease-out;
}
input[type="checkbox"] + label:after,
input[type="radio"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 0.3125rem;
  width: 0.625rem;
  height: 0.3125rem;
  margin-top: -0.4375rem;
  border-style: solid;
  border-color: #ff7400;
  border-width: 0 0 0.125rem 0.125rem;
  -moz-transform: rotate(-45deg) scale(0);
  -ms-transform: rotate(-45deg) scale(0);
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  -moz-animation: borderscale 100ms ease-in;
  -webkit-animation: borderscale 100ms ease-in;
  animation: borderscale 100ms ease-in;
}
input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  content: "";
  -moz-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
  -moz-transition: -moz-transform 100ms ease-out;
  -o-transition: -o-transform 100ms ease-out;
  -webkit-transition: -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out;
}

audio {
  position: absolute;
  left: 0;
  bottom: 0;
}
.skip {
  overflow: hidden;
  position: absolute;
  top: -999em;
  left: -999em;
  width: 0.0625rem;
  height: 0.0625rem;
  background: url("/src/assets/icons/bg_skip.gif")
    repeat;
}

input[type="text"],
input[type="password"] {
  height: 1.9375rem;
  padding: 0 0.3125rem;
  color: #333333;
  border: 1px solid #d6d6d6;
  line-height: 1.9375rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]::-ms-clear {
  display: none;
}

input:-ms-input-placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder {
  color: #cccccc;
}

textarea {
  padding: 0.3125rem;
  color: #666;
  border: 1px solid #d6d6d6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea:disabled {
  background: #f9f9f9;
}

.hidden {
  overflow: hidden;
  position: absolute;
  top: -624.9375rem;
  left: -624.9375rem;
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  font-size: 0;
  text-indent: -9999px;
  line-height: 0;
  z-index: -9999;
}
.text_notover {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dn {
  display: none !important;
}
.db {
  display: block !important;
}
.oh {
  overflow: hidden !important;
}

.btn_left_box {
  text-align: left;
}
.btn_center_box {
  text-align: center;
}
.btn_right_box {
  text-align: right;
}

/* 폰트 컬러 */
.fc_red {
  color: #fa2828 !important;
}

input[type="radio"] {
  width: 0.8125rem;
  height: 0.8125rem;
  vertical-align: top;
}
input[type="text"],
input[type="password"] {
  padding: 0 0.625rem;
  outline: none;
}
input[type="checkbox"] {
  width: 0.8125rem;
  height: 0.8125rem;
  vertical-align: top;
}
input[type="image"] {
  vertical-align: top;
  border: none;
  cursor: pointer;
}
input[type="button"] {
  border: none;
  background: none;
  cursor: pointer;
}
input[type="submit"] {
  cursor: pointer;
  vertical-align: top;
  font-size: 100%;
}

/* 파일첨부 버튼 꾸미기 */
.file_upload_sec {
  overflow: hidden;
  width: 100%;
  margin: 0.3125rem 0 0.625rem 0;
}
.file_upload_sec .file_text {
  float: left;
  width: 14.375rem;
}
.file_upload_sec .btn_upload_box {
  overflow: hidden;
  position: relative;
  float: left;
  width: 9.375rem;
  padding: 0 0 0 0.375rem;
}
.file_upload_sec .btn_upload_box .btn_upload {
  width: 4.375rem;
  height: 1.9375rem;
  color: #fff;
  border: 0.0625rem solid #979797;
  background: #979797;
  text-align: center;
}
.file_upload_sec .btn_upload_box .file {
  position: absolute;
  top: 0;
  right: 4.75rem;
  height: 1.9375rem;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  -khtml-opacity: 0;
  -moz-opacity: 0;
  vertical-align: baseline;
}
/* 추가,삭제 버튼 */
.file_upload_sec .btn_upload_box .btn_gray_big {
  width: 3.875rem;
}
.file_upload_sec .form_element {
  display: block;
  width: 100%;
  padding: 0 0.625rem 0.1875rem 0;
}
.file_upload_sec .link_file_down {
  padding: 0 0.625rem 0 0;
}
.file_upload_sec .link_file_down:hover {
  text-decoration: underline;
}

/* 셀렉트박스 */

/* 레이어팝업 셀렉트 박스 */
.layer_wrap .chosen-container {
  vertical-align: top;
}
.layer_wrap .chosen-container .chosen-single {
  height: 1.9375rem;
  color: #717171;
  vertical-align: top;
  outline: none;
  border: 0.0625rem solid #cccccc;
}
.layer_wrap .chosen-container .chosen-single > span {
  line-height: 1.875rem;
}
.layer_wrap .chosen-container .chosen-results li {
  float: none;
}

/* 체크박스 라디오버튼 스타일 */
.form_element label.check_dis_s:before {
  background-image: url("/src/assets/icons/check_dis_s.png");
  cursor: not-allowed;
}

/* 경고 텍스트 */
#wrap .login_input .member_warning {
  display: block;
}
#wrap .member_warning {
  display: inline;
  position: relative;
}
#wrap .member_warning + .text_warning,
#wrap .member_warning .text_warning {
  display: none;
  letter-spacing: -0.0625rem;
}
#wrap .member_warning .text_warning a {
  text-decoration: underline;
}
#wrap .member_warning input.text + label {
  position: absolute;
  top: 0.375rem;
  left: 0.625rem;
}
#wrap .member_warning.prior_wrong .text_warning,
#wrap .member_warning.prior_half_pass .text_warning {
  display: block;
}
#wrap .member_warning.prior_wrong + .text_warning,
#wrap .member_warning.prior_half_pass + .text_warning {
  display: block;
}
#wrap .text_warning {
  color: var(--point-color);
  text-align: left;
}
#wrap .text_pass {
  color: #329cff;
  text-align: left;
}

/* 글자수 작을 때, 사용불가 */
#wrap .member_warning.prior_wrong input,
#wrap .member_warning.prior_wrong textarea,
#wrap .member_warning.prior_wrong .prior_input,
#wrap .member_warning.prior_wrong .chosen-single {
  margin-bottom: 0.3125rem;
  border: 1px solid var(--point-color);
}
#wrap .member_warning.prior_wrong .chosen-drop {
  margin-top: -0.375rem;
}
#wrap .member_warning.prior_wrong .text_warning {
  color: #ff7400;
}
#wrap .member_warning.prior_wrong .form_element {
  margin-bottom: 0.3125rem;
  padding: 0.3125rem 0 0.3125rem 0;
  border: 0.0625rem solid #ff7400;
}
#wrap .member_warning.prior_wrong .text_warning + .form_element {
  border: none 0;
}

/* 안전도 낮음 */
#wrap .member_warning.prior_half_pass input,
#wrap .member_warning.prior_half_pass textarea,
#wrap .member_warning.prior_half_pass .prior_input,
#wrap .member_warning.prior_half_pass .chosen-single {
  margin-bottom: 0.3125rem;
}
#wrap .member_warning.prior_half_pass .text_warning {
  color: #ff7400;
}
#wrap .member_warning.prior_half_pass .text_pass {
  color: #329cff;
}
#wrap .member_warning.prior_half_pass .form_element {
  padding: 0.3125rem 0 0.3125rem 0;
}

.inner_wrap {
  max-width: 78.75rem;
  min-width: 43.75rem;
  width: 80%;
  margin: 0 auto;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 80%;
  min-width: 43.75rem;
  padding: 3.125rem 0;
  max-width: 78.75rem;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  .inner_wrap {
    min-width: 92%;
  }

  .util_menu {
    display: none;
  }

  .main {
    min-width: unset;
  }
}

/* admin */
.admin_header {
  width: 100%;
  background-color: #fff;
  height: 80px;
  border-bottom: 1px solid #f0f0f0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 40px;
}

.page_admin {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.admin_body_layout {
  width: 100%;
  background-color: #f5f5f5;
  min-height: calc(100vh - 85px);
  box-sizing: border-box;
}

.admin_wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.admin_left {
  min-width: 200px;
  background-color: #fff;
  border-right: 1px solid #f0f0f0;
  min-height: calc(100vh - 55px);
  box-sizing: border-box;
}

.admin_left .depth1 {
  margin-top: 50px;
}

.admin_left .depth1 strong {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  display: block;
  padding: 0 0 10px 20px;
}

.admin_left .depth1 > li {
  padding-bottom: 40px;
}

.admin_left .depth2 li {
  color: #333;
  padding: 20px 30px;
  font-size: 15px;
}

.admin_title {
  padding: 20px 0 0 40px;
  font-size: 24px;
}

.admin_contents {
  border-radius: 10px;
  background-color: #fff;
  margin: 40px;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.02);
}

.admin_contents > strong {
  font-size: 16px;
  padding: 20px;
  display: block;
}

.admin_contents .table_wrap {
  overflow-x: auto;
}

.admin_contents .table_wrap > * {
  min-width: 500px;
}

.admin_contents table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  word-break: keep-all;
}

.admin_contents table thead td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.admin_contents table td {
  padding: 15px;
  text-align: center;
}

.admin_contents table tbody th {
  font-weight: bold;
  text-align: left;
  padding: 0 50px;
  border-bottom: 1px solid #ddd;
}

.admin_contents table tbody th+td {
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid #eee;
}

.admin_contents table tbody tr:last-child th,
.admin_contents table tbody tr:last-child th+td {
  border-bottom: 0;
}

.admin_contents .btn {
  border-radius: 8px;
  font-weight: bold;  
  padding: 8px;
  cursor: pointer;
}

.admin_contents .btn_area {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  padding: 20px 0;
}
.admin_contents .btn.big {
  width: 200px;
}

.admin_contents .btn.list {
  color: #666;
  border: 1px solid #666;
}

.admin_contents .btn.edit {
  color: var(--point-color);
  border: 1px solid var(--point-color);
}

.admin_contents .btn.del {
  color: #fff;
  background-color: var(--color-red);
}

.admin_contents select {
  height: 31px;
}